.lead__image {
  width: 100%;
  margin: 0 auto 0;
  height: 615px;
  background-image: url(../../../images/lead/lead__image.jpg);
  background-size: cover;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    height: 580px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    height: 312px;
    width: 500px;
  }
}

/* Добавил дополнительную точку, чтобы картинка не была слишком маленькой между 320 и 768 */
@media screen and (max-width: 499px) {
  .lead__image {
    height: 200px;
    width: 320px;
  }
}