.photo-grid__grid-container {
  display: grid;
  min-height: 671px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid__grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
    min-height: 942px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
    min-height: 1664px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__grid-container {
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: 12px;
    min-height: 2724px;
  }
}