.place {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content 1fr;
  grid-gap: 48px 40px;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    margin-bottom: 73px;
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    width: 100%;
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-row-gap: 32px;
  }
}

/* Дополнительная точка для более красивого масштабирования */
@media screen and (max-width: 499px) {
  .place {
    grid-template-rows: 35px 46px 320px min-content;
  }
}